* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 16px;
}

h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding: 32px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 24px;
    font-weight: 300;
}

form.actionForm {
    display: flex;
    justify-content: center;
}

form.actionForm input {
    border: 2px solid #888888;
    border-radius: 4px;
    height: 32px;
    width: 180px;
}

form.actionForm input:hover,
form.actionForm input:focus {
    outline: none;
    border: 2px solid #1e921a;
}

.btn {
    height: 32px;
    margin-left: 8px;
    border-radius: 4px;
    padding: 4px 16px;
    cursor: pointer;
    background-color: #fff;
    width: 180px;
    border: 2px solid #888888;
}

.btn:hover {
    font-weight: 600;
    background-color: #1e921a;
    color: #ffffff;
}

ul li {
    margin: 4px;
}

.deleteBtn {
    margin-left: 8px;
    border-radius: 8px;
    padding: 4px 16px;
    cursor: pointer;
    background-color: #fff;
    width: 100px;
}

.deleteBtn:hover {
    font-weight: 600;
    background-color: #f72222;
    color: #ffffff;
}

.taskSection li {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
    word-wrap: anywhere;
    text-align: left;
}

@media (max-width: 600px) {
    .taskSection li {
        width: 100%;
    }
    .deleteBtn {
        height: 40px;
    }
    .taskSection li {
        height: 40px;
        line-height: 40px;
    }
}